<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stamp Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Stamp calculator</h1>
    <form method="POST" action="/result">
        <fieldset>
            <legend>Mail Info</legend>
            <label for="weight">Item Weight:</label>
            <input type="number" name="weight" required>
        </fieldset>
        <fieldset>
            <legend>Mail Type</legend>
            <label for="letterStamped">Letter(stamped)</label>
            <input type="radio" id="letterStamped" name="mailType" value="letterStamped">
            <br>
            <label for="lettermetered">Letter(metered)</label>
            <input type="radio" id="letterMetered" name="mailType" value="lettermetered">
            <br>
            <label for="largeEnvelope">Large Envelopes (flat) </label>
            <input type="radio" id="largeEnvelope" name="mailType" value="largeEnvelope">
            <br>
            <label for="firstClass">First-Class Package Service—Retail</label>
            <input type="radio" id="firstClass" name="mailType" value="firstClass">
        </fieldset>
        <input type="submit" value="Calculate">
    </form>
</body>
</html>